html, body {
  margin: 0;
  padding: 0;
  background-color: #E7E1D1;
  color: #313131;
  font-family:"montserrat", sans-serif;
 
}

h1{
  font-family: "benton-modern-display", serif;
}

#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 2% ;
  background-color:#E7E1D1;
  z-index: 100;
  
}
.navbar {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 50px;
    background-color: #E7E1D1;
    opacity: 0;
    transform: translateY(2vh);
    animation: fadeIn 0.8s ease-out 0.5s forwards;
    
   
}


.navbar ul {
    display: flex; 
    list-style: none; 
    padding: 0;
    margin: 0;
    align-items: center; 
}

.navbar li {
    border-right: 1px solid #313131;
    padding: 0 3vw;
}

#first{
  padding-left: 0.5em;
}
#last{
    border-right: none;
    padding-right: 0.5em;
}

.list1 {
    text-decoration: none; 
    color: #313131; 
    font-size: 14px;
    padding: 0.2em 3em 0.2em 3em;
    transition: 0.5s ease;
    border: solid 0.1px #E7E1D1;
    border-radius: 5px; 
}

.list1:hover {
    border: solid 0.1px#313131;
    border-radius: 5px; 
    
}


.navbar a.active {
    color: #313131;  
    border-radius: 5px; 
    border: solid 0.1px#313131;
    padding: 0.2em 3em 0.2em 3em;
    text-decoration: none; 
}

.navbar li.dropdown {
    position: relative;
}

ul li ul.dropdown-menu li{
  display: block;
  color: #313131;
  border-right: none;
}
ul li ul.dropdown-menu li a {
    display: inline-block; 
    text-decoration: none; 
    padding: 10px;       
    text-align: center;    
    color: #313131;
    padding-bottom: 1em;
    border-bottom: solid 1px #313131;
    transition: 0.2s ease;
}

ul li ul.dropdown-menu li a:hover {
    display: inline-block; 
    padding:10px 3em 10px 3em;       
    text-align: center;    
    color: #313131;
    padding-bottom: 1em;
    border-bottom: none;
    
}

#smallText{
  transition: 0.2s ease;
}

#smallText:hover{
  font-size: 0.8em;
}

#drpdwn{
  border-bottom: none;

}

ul li ul.dropdown-menu{
  width: 73%;
  border-right: solid 0.2px  #313131;
  border-left: solid 0.2px  #313131;
  border-bottom: solid 0.2px  #313131;
  border-radius: 0 0 5px 5px;
  background-color: #E7E1D1;
  position: absolute;
  z-index: 200;
  display: none;
  color: #000000;
  padding-top: 10px;
  transition: 0.3s ease;
  
}

.dropdown:hover ul.dropdown-menu{
  display: block;
}



#title_page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;
  
  
}

#title{
  
  font-size: 10vh;
  transform: translateY(2vh);
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.8s ease-out 0.5s forwards;
  
}


#subtitle{
  margin-top: 0;
  transform: translateY(-100%);
  opacity: 0;
  animation: fadeIn2 0.8s ease-out 1.1s forwards ;
}

#title_page svg {
  fill: #313131;
  stroke-width: 0.5;
  width: 10vh;
  height: 10vh;
  opacity: 0;
 
  animation: 
    fadeIn3 0.8s ease-out 3s forwards,
    bounce 1s ease-in-out 3.8s infinite alternate;
}

@keyframes fadeIn{
  to{
    opacity: 1; transform: translateY(0); backdrop-filter: blur(8px);
  }
}
@keyframes fadeIn2{
  to{
    opacity: 1; transform: translateY(-200%);
  }
}
@keyframes fadeIn3 {
  from{ transform: translateY(2vh);}
  to { opacity: 1; transform: translateY(0vh);}
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(2vh); }
}

#title_page button{
  position: absolute;
  bottom: 10%;
  right: 12%;
  border: solid 0.5px #313131;
  border-radius: 2px;
  background-color: #E7E1D1;
  padding: 1vh;
}


#title_page button a{
  text-decoration: none;
  color: #313131;
  font-size: 2vh;
}

.bg_wrapper {
  background-image: url(assets/Group\ 38.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: 1s ease-out 0.8s;
  opacity: 0;
}

.bg_wrapper.show{
  opacity: 1;
  
}

.explanation{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}



.text{
  color: #313131;
  width: 50vw;
  font-size: 3vh;
  text-align: center;
  opacity: 0;
  transform: translateY(8vh);
  transition: 1s ease-out 1.5s;
  transition-delay: 1s;
}

.text.show{
  opacity: 1;
  transform: translateY(2vh);
}

.explanation2{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.text2{
  color: #313131;
  width: 50vw;
  font-size: 3vh;
  text-align: center;
  opacity: 0;
  transform: translateY(22vh);
  transition: 1s ease-out ;
  transition-delay: 2s;
}
.text2.show{
  opacity: 1;
  transform: translateY(20vh);

}

.pointer {
  opacity: 50%;
  position: absolute;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: #811f1a7a;
  left: 48%;
  transform: translateY(40vh) scale(0);
  transition: transform 0.5s ease-out 1s;
}

.pointer.show {
  transform: translateY(40vh) scale(1);
  animation: bounceScale 0.5s ease-out 1.4s;
}

@keyframes bounceScale {
  0%   { transform: translateY(40vh) scale(1); }
  60%  { transform: translateY(40vh) scale(1.2); }
  80%  { transform: translateY(40vh) scale(0.9); }
  100% { transform: translateY(40vh) scale(1); }
}

.pointer2 {
  opacity: 0;
  position: absolute;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  background-color: #81201A;
  left: 90%;
  transform: translateY(60vh);
  transition: 0.5s ease-out 3s;
  
}

.pointer2.show {
  transform: translateY(40vh);
  left: 43%;
  opacity: 1;
  animation: bounceLeft 1s ease 3.49s forwards;
}
@keyframes bounceLeft {
  to{ left: 44%; transform: translateY(41vh);}
}

.pointer3 {
  opacity: 0;
  position: absolute;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: #81201A;
  left: 10%;
  transform: translateY(60vh);
  transition: 0.5s ease-out 3s;
  
}

.pointer3.show {
  transform: translateY(40vh);
  left: 51%;
  opacity: 1;
  animation: bounceRight 1s ease 3.49s forwards;
}
@keyframes bounceRight {
  to{ left: 50%; transform: translateY(41vh);}
}

.text3{
  color: #313131;
  width: 50vw;
  font-size: 3vh;
  text-align: center;
  opacity: 0;
  transform: translateY(52vh);
  transition: 1s ease-out ;
  transition-delay: 4s;
}

.text3.show{
  opacity: 1;
  transform: translateY(50vh);
}

.explanation3{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.falseBtn{
  position: absolute;
  background-color: #313131;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
  left: 20%;
  opacity: 0;
  scale: 1;
  transform: translateY(2vh);
  transition: 0.5s ease;
  transition-delay: 1s;
  
}

.falseBtn.show{
  transform: translateY(0);
  opacity: 1;
  animation: click 0.5s ease 2.4s forwards;
}

@keyframes click{
  0%{scale: 1;}
  50%{scale: 0.6;}
  100%{scale: 1;}
}



.falseTimeLine{
  position: absolute;
  width: 65vh;
  height: 5vh;
  transform: translateY(2vh);
  right: 15%;
  border: solid 5px #E7E1D1;
  box-shadow: 0 0 0 1px #313131;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease;
  transition-delay: 3s;
}

.falseTimeLine.show{
  transform: translateY(0);
  opacity: 1;
}

.thumb{
  position: absolute;
  width: 5vh;
  height: 5vh;
  background-color: #313131;
  right: 25%;
  border: solid 5px #E7E1D1;
  box-shadow: 0 0 0 1px #313131;
  border-radius: 50%;
  scale: 1.4 1.4;
  z-index: 3;
}

.progress{
  display: inline-block;
  width: 45vh;
  height: 5vh;
  background-color: #313131;
  z-index: 2;
}

.text4{
  color: #313131;
  width: 50vw;
  font-size: 3vh;
  text-align: center;
  top: 25%;
  opacity: 0;
  position: absolute;
  transition: 1s ease-out ;
  transition-delay: 1.5s;
}
.text4.show{
  opacity: 1;
  top: 20%;


}


.text5{
  color: #313131;
  width: 50vw;
  font-size: 3vh;
  text-align: center;
  opacity: 0;
  transform: translateY(24vh);
  transition: 1s ease-out ;
  transition-delay: 3.6s;
}

.text5.show{
  opacity: 1;
  transform: translateY(22vh);
}


.subText{
  position: absolute;
  right: 20%;
  bottom: 15%;
  width: 35vh;
  text-align: center;
}
.subText2{
  position: absolute;
  left: 20%;
  bottom: 15%;
  width: 35vh;
  text-align: center;
}

#container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*#general_view{
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  top: 0%;
  z-index: 10;
  transition: 0.5s ease;
  
}*/



#time_view{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0%;
  opacity: 1;
  z-index: 10;
  transition: 0.5s ease;

  
}

#time_view canvas{
  z-index: 1;
}



/*#cb1 {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  
  width: 0;      
  height: 0;

  opacity: 0;        
  z-index: 0;
  cursor: pointer;
  transition: 0.5s ease;
  pointer-events: none;
}


#checkmark {
  position: absolute;
  bottom: 4%;
  left: 60%;
  transform: translateX(-60%);
  padding: 0.1em 1em 0.1em 1em;
  background: #313131;
  color: white;
  border-radius: 2px;
  font-family: sans-serif;
  z-index: 100;
 font-size: 14px;
  transition: 0.5s ease;
 font-family: "montserrat", sans-serif;
 cursor: pointer;
}

#checkmark p{
  position: relative;
  transition: 0.2s ease;
}


#generalBtn{
  position: absolute;
  right: 25%;
  bottom: 30%;
  opacity: 0;

}

#cb1:checked{
  left: 8%;
  transform: translateX(-8%);
}
/*#cb1:checked ~ #general_view {
  opacity: 0;
  top: 15%;
  z-index: 0;
}

#cb1:checked ~ #time_view {
  opacity: 1;
  top: 0%;
  z-index: 10;
}


#cb1:checked + #checkmark {
  left: 11%;
  transform: translateX(-11%);
}

#cb1:checked + #checkmark p{
 opacity: 0;
}
#cb1:checked + #checkmark #generalBtn{
 opacity: 1;
}*/
#playBtn{
  position: absolute;
  bottom: 5%;
  right: 25%;
  
  width: 0;      
  height: 0;

  opacity: 0;        
  z-index: 0;
  cursor: pointer;
  transition: 0.5s ease;
  pointer-events: none;

  
}

#playIcon{
  position: absolute;
  bottom: 5%;
  right: 13%;
  cursor: pointer;
  border: solid 0.2px #313131;
  border-radius: 10px;
  padding: 0.1vh;
  transition: 0.2s ease;
  z-index: 1;
}

#playSvg{
  fill: #313131;
}

#pauseIcon{
  position: absolute;
  bottom: 5%;
  right: 2%;
  opacity: 0;
  transition: 0.2s ease;
  z-index: 2;
}

#pauseIcon > svg{
 fill: #E7E1D1;
}

#playIcon:hover{
  background-color: #4d4d4d;
}

#playIcon:hover #playSvg{
  fill: #E7E1D1;
}

#playBtn:checked + #playIcon{
   background-color: #313131;
   z-index: 1;
}
#playBtn:checked + #playIcon #playSvg{
   opacity: 0;
}

#playBtn:checked + #playIcon #pauseIcon {
  opacity: 1;
}


input[type="range"] {

  -webkit-appearance: none;
  appearance: none; 
  width: 65%; 
  height: 20px; 
  background: transparent; 
  margin: 10px 0; 
 
  &::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px; 
  cursor: pointer;
  background: transparent; 
  border: 1px solid #313131; 
  border-radius: 5px; 
  box-shadow: none; 
  position: relative;
}
&::-moz-range-track {
  width: 100%;
  height: 30px; 
  cursor: pointer;
  background: transparent; 
  border: 1px solid #313131; 
  border-radius: 5px; 
  box-shadow: none; 
  position: relative;
}
&::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #313131; 
  border: solid 2px #E7E1D1; 
  box-shadow: 0 0 0 1px #313131; 
  cursor: pointer;
  scale: 2 2;
  position: relative;
  transform: translateY(0.2vh);
  opacity: 0;
  z-index: 4; 
  transition: 0.2s ease;
}
&::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #313131; 
  border: solid 2px #E7E1D1; 
  box-shadow: 0 0 0 1px #313131; 
  cursor: pointer;
  scale: 2 2;
  position: relative;
  transform: translateY(0.2vh);
  opacity: 0;
  z-index: 4; 
  transition: 0.2s ease;
}
}

input[type="range"]:hover{

  &::-webkit-slider-thumb {
  opacity: 1;

}

&::-moz-range-thumb{
  opacity: 1;
}

}

#legenda{
  position: absolute;
  bottom: 11%;
  left: 9%;
  width: fit-content;
  height: fit-content;
  padding: 2vh;
  
}

#legenda ul{
  list-style: none;
  border-left: solid 1px #313131;
}
#legenda ul li{
  margin-bottom: 0.5vh;
  
}

.legendSphere {
  display: inline-block;   
  width: 2vh;
  height: 2vh;
  border-radius: 50%;      
  margin-right: 2vh; 
  transform: translateY(0.5vh);

      
}


#legenda ul li:nth-child(1) .legendSphere { border: solid 2px #81201A; }
#legenda ul li:nth-child(2) .legendSphere { border: solid 2px #4D4871; }
#legenda ul li:nth-child(3) .legendSphere { border: solid 2px #E3BC47; }
#legenda ul li:nth-child(4) .legendSphere { border: solid 2px #99AB59; }
#legenda ul li:nth-child(5) .legendSphere { border: solid 2px #8799BD; }
#legenda ul li:nth-child(6) .legendSphere { border: solid 2px #CA5D84; }
#legenda ul li:nth-child(7) .legendSphere { border: solid 2px #D97963; }
#legenda ul li:nth-child(8) .legendSphere { border: solid 2px #7EC1AF; }